@font-face {
  font-family: Korneuburg;
  src: url('Korneuburg.ttf');
}


body {
	font-family: Korneuburg;
	background-color: #3f3e50;
}



input,select {
	font-family: Korneuburg;
	color: #3f3e50;
	background-color: white;
	border: 2px solid #eb8602;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.button {
	background-color: #3f3e50;
	color: #eb8602;
}

::-moz-selection {
    color: #3f3e50;
	background-color: white;
	border: 2px solid #eb8602;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

::webkit:select {
    color: #3f3e50;
	background-color: white;
	border: 2px solid #eb8602;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

table {
	
	border: 2px solid #eb8602;
	-moz-border-radius: 5px;
	border-radius: 2px;
	border-collapse:collapse;

}
td {
	border: 2px solid #eb8602;
	-moz-border-radius: 5px;
	border-radius: 2px;
	text-align: left;
	padding: 5px;
}

