<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
	

		<label>Brukermeny</label>
			<br /><br />
			<label>Registrerte brukere</label>
			
			<div><table>
			<tr><td>Navn</td><td>Brukernavn</td><td>E-post</td><td> </td>
			{foreach $userArr as $registeredUsers}
			<tr>
				<td>{$registeredUsers->getDbId()} {$registeredUsers->getFullName()}</td>
				<td>{$registeredUsers->getUsername()}</td>
				<td><a href="mailto:{$registeredUsers->getEmailAddress()}">{$registeredUsers->getEmailAddress()}</a></td>
				<td>
				<a href="{$scriptURL}?function=changeUser&amp;userId={$registeredUsers->getDbId()}">Endre</a>
					<input type="hidden" name="userId" value={$registeredUsers->getDbId()}>
				</td>
				<td>
				<a href="{$scriptURL}?function=deleteUser&amp;userId={$registeredUsers->getDbId()}" 
					onClick="
					{if ( $registeredUsers->getDbId()) == 1 }
					window.alert('Du kan ikke slette Admin brukeren!'); return false;">
					{else}
					javascript:return ConfirmChoice('Er du sikker på at du vil slette brukeren {$registeredUsers->getUsername()}?');">
					Slett
					{/if}
				</a>
					<input type="hidden" name="userId" value={$registeredUsers->getDbId()}>
				</td>
			</tr>
			{/foreach}
			</table>
			</div>
			
			<br /><br />
		<a href="{$scriptURL}?function=createNewUser"><input type="button" class="button" value='Lag ny bruker' /></a>
			<br /><br />

	</form>

</div>