<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
	
		<label>Administrasjonsmeny</label>
			<br /><br />
		<a href="{$scriptURL}?function=showUserMenu">
		<input type="button" class="button" value='Brukeradministrasjon' />
		</a>
			<br /><br />
		<a href="{$scriptURL}?function="">
		<input type="button" class="button" value='Endring nøkkeltall' />
		</a>
			<br /><br />
		<a href="{$scriptURL}?function="">
		<input type="button" class="button" value='Kalkulasjonsmetode' />
		</a>
			<br /><br />
		<a href="{$scriptURL}?function="">
		<input type="button" class="button" value='Logg / Bug rapport' />
		</a>

	</form>

</div>