<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
	

		<label>Brukermeny</label>
			<br /><br />
		<a href="{$scriptURL}?function=showAdminDefault">
		<input type="button" class="button" value='Hovedmeny' />
		</a>
			<br /><br />
			<label>Registrerte brukere</label>
			
			<br /><br />
		<a href="{$scriptURL}?function=createNewUser">
		<input type="button" class="button" value='Lag ny bruker' />
		</a>
			<br /><br />

	</form>

</div>