<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
	
		<label>Administrasjonsmeny</label>
			<br /><br />
		<input type="button" class="button" value='Brukeradministrasjon' onClick="document.location = '{$scriptURL}?function=showUserMenu';"/>
			<br /><br />
		<input type="button" class="button" value='Endring nøkkeltall' onClick="alert('Endring nøkkeltall kommer her');" />
			<br /><br />
		<input type="button" class="button" value='Kalkulasjonsmetode' onClick="alert('Kalkulasjonsmetode kommer her');" />
			<br /><br />
		<input type="button" class="button" value='Logg / Bug rapport' onClick="alert('Logg / Bug rapport kommer her');" />

	</form>

</div>