<!DOCTYPE HTML>

<HTML>
<HEAD>
<META http-equiv="Content-type" content="text/html;charset=UTF-8">

<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
<title>{$title}</title>
<SCRIPT type="text/javascript">
 
function ConfirmChoice(question) {
	 answer = confirm(question)
	 if (answer !=0)
	  	return true
	 else
	  	return false
}
</SCRIPT>


</HEAD>
<BODY>

<div class="sim">
	<img class="logo" src="gfx/logo.png" />
	<div id="header" class="header">SimulatorGUI</div>
{if $isUser || $isAdmin }
	<div id="loginInfo">Innlogget som: {$fullname} ({$username})</div>
	<div id="loginInfo">Tilgangsnivå: {$accesslevel}</div>
	<br>
	<div>Meny: <a href="{$scriptURL}?function=logout">logg ut</a></div>
{/if}
</div>

{if isset($infoMessage) && strlen($infoMessage) > 0}
<div id="infoMessage" class="infomsg">{$infoMessage}</div>
{/if}

{if isset($logMessages) && strlen($logMessages) > 0}
<div id="logMessages" class="infomsg">{$logMessages}</div>
{/if}

<div id="content" class="sim">{$content}</div>

<div id="footer" class="sim">Copyright &copy; Gruppe2IT - 2013</div>

</BODY>
</HTML>
