<div>
	<img class="logo" src="gfx/logo.png" />
	
	<h3>Liste over kjørte simuleringer</h3>
		
	<form method="post" action="{$scriptURL}">
	<table width="100%" border="1">
		<tr>
			<td colspan="2" width="450px" style="background-color: #3f3e50; color: #eb8602;"><strong>Hus</strong></td>
		</tr>
		<tr>
			<th>KjøreID</th>
			<th>XMLID</th>
		</tr>
{foreach from=$simTaskArr item=i}
		<tr>
			<td>{$i.id}</td>
			<td>{$i.xmlId}</td>
		</tr>
{/foreach}
	</table>

<!--  	<input type="hidden" name="function" value="{$function}" />
		{Base::getTokenforFORM("setupSimulator")}
		
		<br />
		<input type="submit" class="button" value='Hent simuleringsoppsett' />
		-->
		
	</form>
	

</div>