<div>
	<img class="logo" src="gfx/logo.png" />
	
	<h3>Liste over kjørte simuleringer</h3>
		
	<!--<a href="#" onClick="MyWindow=window.open('http://jenna.bendiksens.net/~gruppe2/sammenligning/','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=800,height=300'); return false;"><input type="button" class="button" value='Sammenlign' /></a> 
-->

	
	<form id="formz0r" method="post" action="sammenligning/index.php">
		<input type="submit" class="button" value='Sammenlign' />
		<br />
		<br />
	<table width="100%" border="1">
		<tr>
			<th colspan="5" width="500px" style="background-color: #3f3e50; color: #eb8602;">Kjørte simuleringer</th>
		</tr>
		<tr>
			<th width="50">KjøreID</th>
			<th width="190">Simuleringsnavn</th>
			<th width="120">Kjørt når</th>
			<th width="40">Action</th>
			<th widht="40"></th>
			
		</tr>
{foreach from=$simTaskArr item=i}
		<tr>
			<td>{$i.stId}</td>
			<td>{$i.name}</td>
			<td>{$i.TimeCreated}</td>
			<td>
				<a href="{$scriptURL}?function=parseGetSim&simValgt={$i.id}">Vis</a>
				{if {$i.simStarted} == TRUE }
				<a href="{$resultURL}/{$i.xmlId}.csv">Res.</a>
				{/if}
			</td>
			
			<td>
				{if {$i.simStarted} == TRUE }
				<input type="checkbox" name="sammenlign[]" value="{$i.xmlId}" />
				<input type="hidden" name="navn[]" value="{$i.name}" />
				{/if}
			</td>
		</tr>
{/foreach}
	</table>

<!--  	<input type="hidden" name="function" value="{$function}" />
		{Base::getTokenforFORM("setupSimulator")}
		
		<br />
		
		-->
		
	</form>

<script>
	var myForm = document.getElementById('formz0r');
	myForm.onsubmit = function() {
    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=700,height=600,left = 312,top = 134');
    this.target = 'Popup_Window';
};
	
</script>

</div>