<div>
	<img class="logo" src="gfx/logo.png" />
	
	<h3>Liste over kjørte simuleringer</h3>
		
	<a href="#" onClick="MyWindow=window.open('http://jenna.bendiksens.net/~gruppe2/sammenligning/','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=800,height=300'); return false;"><input type="button" class="button" value='Sammenlign' /></a> 

	
	<form method="post" action="{$scriptURL}">
	<table width="100%" border="1">
		<tr>
			<th colspan="4" width="450px" style="background-color: #3f3e50; color: #eb8602;">Kjørte simuleringer</th>
		</tr>
		<tr>
			<th width="50">KjøreID</th>
			<th width="190">Simuleringsnavn</th>
			<th width="120">Kjørt når</th>
			<th width="40">Action</th>
		</tr>
{foreach from=$simTaskArr item=i}
		<tr>
			<td>{$i.stId}</td>
			<td>{$i.name}</td>
			<td>{$i.TimeCreated}</td>
			<td>
				<a href="{$scriptURL}?function=parseGetSim&simValgt={$i.id}">Vis</a>
				{if {$i.simStarted} == TRUE }
				<a href="{$resultURL}/{$i.xmlId}.csv">Res.</a>
				{/if}
			</td>
		</tr>
{/foreach}
	</table>

<!--  	<input type="hidden" name="function" value="{$function}" />
		{Base::getTokenforFORM("setupSimulator")}
		
		<br />
		<input type="submit" class="button" value='Hent simuleringsoppsett' />
		-->
		
	</form>
	

</div>