<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
	
		<label>Velkommen til Energi Simulatoren</label>
			<br /><br /><br />
//		<label>Hovedmeny</label>
//		<br /><br />
		<a href="{$scriptURL}?function=startNewWizard"><input type="button" class="button" value='Lag ny simulering' onClick="document.location = '{$scriptURL}?function=startNewWizard';"/></a>
			<br /><br />
		<a href="{$scriptURL}?function=""><input type="button" class="button" value='Hent simuleringer' /></a>
			<br /><br />
		<a href="{$scriptURL}?function=""><input type="button" class="button" value='Predefinerte enheter' /></a>
			<br /><br />
		<a href="{$scriptURL}?function=""><input type="button" class="button" value='Vis rapporter' /></a>

	</form>

</div>