<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
	
		<label>Velkommen til Energi Simulatoren</label>
			<br /><br /><br />
		<input type="button" class="button" value='Lag ny simulering' onClick="document.location = '{$scriptURL}?function=startNewWizard';"/>
			<br /><br />
		<input type="button" class="button" value='Hent simuleringsoppsett' onClick="document.location = '{$scriptURL}?function=showGetSim';"/>
			<br /><br />
		<input type="button" class="button" value='Simuleringsresultater' onClick="location.href = '{$scriptURL}?function=showSimulatorTaskList';"/>
<!--  		<input type="button" class="button" value='Simuleringsresultater' onClick="location.href = 'http://jenna.bendiksens.net/~gruppe2/resultater/';"/>-->
<!--  			// Endre til å vise simulering dropdown og graf -->
			<br /><br />
	<!-- 	<input type="button" class="button" value='Predefinerte enheter' onClick="alert('Predefinerte enheter');" />
			<br /><br /> -->
		<input type="button" class="button" value='Vis rapporter' onClick="location.href = 'http://jenna.bendiksens.net/~gruppe2/resultater/';"/>
	</form>

</div>