<!-- kommentar -->

<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
		<label>Type byggning</label><br />
		<select name="byggType">
			<option value="enebolig">Enebolig</option>
			<option value="leilighet">to be specified</option>
			<option value="rekkehus">to be specified</option>
		</select><br />
	
		<label>Bygge&aring;r</label><br />
	
		<select name="byggaar">
			<option value="for87">F&oslash;r 1987</option>
			<option value="87-97">Mellom 1987 og 1997</option>
			<option value="etter97">Etter 1997</option>
		</select><br />
		
		<!-- Husets størrelse -->
		<label>Boenhet: Brutto Areal</label><br />
		<input type="text" name="houseTotalArea" value="{$smarty.session.es->_houseTotalArea}" /><br />
	
		<label>Boenhet: P-Rom</label><br />
		<input type="text" name="housePrimaryArea" value="{$smarty.session.es->_housePrimaryArea}" /><br />
	
	    <label>Klima</label><br />
		<select name="klima">
			<option value="5,37">S&oslash;r-Norge, kyst</option>
			<option value="7,08">S&oslash;r-Norge, innland</option>
			<option value="8,79">S&oslash;r-Norge, h&oslash;yfjell</option>
			<option value="6,05">Midt-Norge, kyst</option>
			<option value="9,02">Midt-Norge, innland</option>
			<option value="8,11">Nord-Norge, kyst</option>
			<option value="10,82">Finnmark og innland Troms</option>
		</select><br /><br />
	
		<input type="hidden" name="function" value="{$function}" />
		{Base::getTokenforFORM("startNewWizard")}
		<input type="button" class="button" value="Hent bolig" onClick="window.alert('Funksjonen er ikke implementert enda'); return false;" />
		<input type="submit" class="button" value='Neste -> Oppvarming' />

	</form>
	
	
{if isset($EnergySimulator) && intval($EnergySimulator->getEnergyUsage()) > 0}
	<h3>Resultat</h3>{$EnergySimulator->getEnergyUsage()} kWh i &aring;ret.	
{/if}
</div>
