<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
		<label>Type byggning</label><br />
	
		<select name="byggType">
			<option value="enebolig">Enebolig</option>
			<option value="leilighet">to be specified</option>
			<option value="rekkehus">to be specified</option>
		</select><br />
	
		<label>Antall Personer i Husstand</label><br />
		<input type="text" name="antall_i_hus"/><br />
	
		<label>Gjennomsnittsalder</label><br />
		<input type="text" name="gjen_alder"/><br />
	
		<label>Bygge&aring;r</label><br />
	
		<select name="byggaar">
			<option value="for87">F&oslash;r 1987</option>
			<option value="87-97">Mellom 1987 og 1997</option>
			<option value="etter97">Etter 1997</option>
		</select><br />
		
		<!-- Husets størrelse -->
		<label>Boenhet: Brutto Areal</label><br />
		<input type="text" name="houseTotalArea"/><br />
	
		<label>Boenhet: P-Rom</label><br />
		<input type="text" name="housePrimaryArea"/><br />
	
	    <label>Klima</label><br />
		<select name="klima">
			<option value="sn-kyst">S&oslash;r-Norge, kyst</option>
			<option value="sn-innland">S&oslash;r-Norge, innland</option>
			<option value="sn-hf">S&oslash;r-Norge, h&oslash;yfjell</option>
			<option value="mn-kyst">Midt-Norge, kyst</option>
			<option value="mn-innland">Midt-Norge, innland</option>
			<option value="nn-kyst">Nord-Norge, kyst</option>
			<option value="ft">Finnmark og innland Troms</option>
		</select><br />
		
		<!--  Spesifisering av lyskilder -->
		<label>Belysningstype</label><br />
	
		<select name="belysningstype">
			<option value="60">Gl&oslash;de p&aelig;rer</option>
			<option value="14">Sparep&aelig;rer</option>
			<option value="10">LED p&aelig;rer</option>
			<option value="30">Lysr&oslash;r</option>
		</select><br />
		
		<label>Antall lyskilder</label><br />
		<input type="text" name="antall_lyskilder"/><br /><br />
	
		<input type="hidden" name="function" value="{$function}" />
		<input type='submit' class="button" value='Beregn' />
	</form>
{if isset($result) && intval($result) > 0}
	<h3>Resultat</h3>{$result} watt i &aring;ret.	
{/if}
</div>