<!-- kommentar -->

<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
		
	
	    <label>Klima</label><br />
		<select name="klima" value="{$smarty.session.es->_climateZone}">
			<option value="-1">-- Velg klimasone --</option>
			<option value="1">S&oslash;r-Norge, kyst</option>
			<option value="2">S&oslash;r-Norge, innland</option>
			<option value="3">S&oslash;r-Norge, h&oslash;yfjell</option>
			<option value="4">Midt-Norge, kyst</option>
			<option value="5">Midt-Norge, innland</option>
			<option value="6">Nord-Norge, kyst</option>
			<option value="7">Finnmark og innland Troms</option>
		</select><br />
			&nbsp;&nbsp; eller <br />
		<select name="climateWeatherStation" value="{$smarty.session.es->_climateWeatherStation}">
			<option value="-1">-- Velg M&aring;lestasjon --</option>
			{foreach from=$climateWeatherStation item=i}
			<option value="{$i.stnr}">{$i.department} - {$i.name}</option>
			{/foreach}
		</select><br /><br />
		
		Endring av temperatur for ekstremvær +/- <input type="number" name="climateTemperatureOffset" value="{$smarty.session.es->_climateTemperatureOffset}" />
		<br /><br />
		
		<label>Tidsrom for simulering</label><br />
		
		Start tid: <input type="datetime-local" name="startTime" value="{$smarty.session.es->_startTime}" /> <br />
		Slutt tid: <input type="datetime-local" name="endTime" value="{$smarty.session.es->_endTime}"/> 
		<br /><br />
		Oppl&oslash;sning i simulering: 
		<select name="opplosning" value="{$smarty.session.es->_opplosning}">
			<option value="3600">Time</option>
			<option value="86400">D&oslash;gn</option>
			<option value="604800">Uke</option>
			<option value="259200">M&aring;ned</option>
			<option value="31536000">&Aring;r</option>
		</select><br />
		<br /><br />
	
		<input type="hidden" name="function" value="{$function}" />
		{Base::getTokenforFORM("startNewWizard")}
		<a href="{$scriptURL}?function="><input type="button" class="button" value="Tilbake" onClick="window.alert('Funksjonen er ikke implementert enda'); return false;" /></a>
		<input style="float: right;" type="submit" class="button" value='Lagre Simulering'  />

	</form>
</div>
