<!-- Side for veiviser som tar for seg oppvarming -->


<!-- Storing of inputs via POST -->


<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
		
		<!-- Valg av primær oppvarming -->
		<label>Prim&aelig;r oppvarming</label><br />
		<select name="priVarme">
			<option value="(250*7)/24">Oljekjel - vannb&aring;ren varme</option>
			<option value="(250*9)/24">Olje/parafinkamin - direkte varme</option>
			<option value="priH_gas">Gasspeis</option>
			<option value="(400*14)/24">Pelletskjell - vannb&aring;ren varme</option>
			<option value="(8000*10)/24">Jord/fjell varmepumpe til vannb&aring;ren varme</option>
			<option value="(4500*10)/24">Luft varmepumpe til vannb&aring;en varme</option>
			<option value="(1500*20)/24">Luft varmepumpe til luft</option>
			<option value="(2000*9)/24">Elektrokjel - vannb&aring; varme</option>
			<option value="(8000*16)/24">Helelektrisk oppvarming</option>
			<option value="(100*20)/24">Fjernvarme - vannb&aring;ren varme</option>
			<option value="(150*7)/24">Pelletskamin</option>
			<option value="0">Vedovn</option>
		</select><br /><br />
		
		<!-- Valg av sekundær oppvarming -->
		<label>Sekund&aelig;r oppvarming</label><br />
		<select name="priVarme">
			<option value="secH_ingen"></option>
			<option value="(250*7)/24">Oljekjel - vannb&aring;ren varme</option>
			<option value="(250*9)/24">Olje/parafinkamin - direkte varme</option>
			<option value="secH_gas">Gasspeis</option>
			<option value="(400*14)/24">Pelletskjell - vannb&aring;ren varme</option>
			<option value="(8000*10)/24">Jord/fjell varmepumpe til vannb&aring;ren varme</option>
			<option value="(4500*10)/24">Luft varmepumpe til vannb&aring;en varme</option>
			<option value="(1500*20)/24">Luft varmepumpe til luft</option>
			<option value="(2000*9)/24">Elektrokjel - vannb&aring; varme</option>
			<option value="(8000*16)/24">Helelektrisk oppvarming</option>
			<option value="(100*20)/24">Fjernvarme - vannb&aring;ren varme</option>
			<option value="(150*7)/24">Pelletskamin</option>
			<option value="0">Vedovn</option>
		</select><br /><br />
		
		<!-- Fordelign primær/sekundær oppvarming -->
		<!-- Erstatt med slider -->
		<label>Andel oppvarming som dekkes av sekund&aelig;r oppvarming</label><br />
		<input type="range" name="secheatvalue" min="0" max="50" step="5" value="{$smarty.session.es->_heatDiff}" onChange="showValue (this.value)" />
		<span id="range">0</span>
			<script type="text/javascript">
			function showValue(newValue)
			{
				document.getElementById("range").innerHTML=newValue;
			}
			</script> %
		<br /><br />
		
		<label>Gulvvarme vannb&aring;ren varme fra prim&aelig;r oppvarming</label><br />
		<input type="text" name="floorheating" value="" /> m2
		<br /><br />
		<label>Gulvvarme elektrisk</label><br />
		<input type="text" name="floorheating2" value="" /> m2
		<br /><br />
		<!--  Valg for tappevann -->
		<label>Definer eventuelle elektrokjeler som benyttes for oppvarming av tappevann</label><br />
		<br />
		<label>Prim&aelig;r elektrokjel</label><br /> 
		<input type="text" name="priBoilerSize" value="" /> liter<br />
		<input type="text" name="priBoilerPower" value="" /> watt<br />
		
		<label>Sekund&aelig;r elektrokjel</label><br />
		<input type="text" name="secBoilerSize" value="" /> liter<br />
		<input text="text" name="secBoilerPower" value="" /> watt
	
		<br/><br />
		<input type="hidden" name="function" value="{$function}" />
		{Base::getTokenforFORM("setupSimulator")}
		<input type="button" class="button" value="Tilbake" onClick="window.alert('Funksjonen er ikke implementert enda'); return false;" />
		<input type="submit" class="button" value='Neste -> Belysning' />
	</form>
	
{if isset($EnergySimulator) && intval($EnergySimulator->getEnergyUsage()) > 0}
	<h3>Resultat</h3>{$EnergySimulator->getEnergyUsage()} kWh i &aring;ret.	
{/if}
</div>

