<!-- kommentar -->
<SCRIPT type="text/javascript">
 
function changeNumPersons() {
	var numPersons = document.getElementById('numPersons');
	
	alert(numPersons.selectedIndex);
}

// Legg til beboer (inhabitant)
function addInhabitant()
{
	var inhabitantsAgeOpt = document.getElementById('tmpInhabAge');
	var inhabitantsWorkOpt = document.getElementById('tmpInhabWork');

	addInhabitantHelper(inhabitantsAgeOpt.options[inhabitantsAgeOpt.selectedIndex].value
						,inhabitantsWorkOpt.options[inhabitantsWorkOpt.selectedIndex].value
						);
	
	return false;
}

function addInhabitantHelper(ageId, workId)
{
	if ( ageId < 0 )
	{
		alert('Du må velge alder');
		return false;
	}
	
	if ( workId < 0 )
	{
		alert('Du må velge yrke');
		return false;
	}
	
	var inhabitantsAgeOpt = document.getElementById('tmpInhabAge');
	var inhabitantsWorkOpt = document.getElementById('tmpInhabWork');
	var inhabitantsAgeArr = document.getElementsByName('inhabitantsAge[]');
	
	if ( inhabitantsAgeArr == null )
	{
		return false;
	}
	
	var i = inhabitantsAgeArr.length;

	var newDiv = document.createElement("div");
	newDiv.id = 'inhabitant' + i;	
	
	var work = '';
	
	for ( j=0; j<inhabitantsWorkOpt.length; j++ )
	{
		if ( inhabitantsWorkOpt.options[j].value == workId )
		{
			work = inhabitantsWorkOpt.options[j].innerHTML;
		}
	}
	
	newDiv.innerHTML = 'Alder: ' + ageId
						+ '<input type="hidden" name="inhabitantsAge[]"'
						+ ' value="' + ageId + '" />' 
						+ '<input type="hidden" name="inhabitantsWork[]"'
						+ ' value="' + workId + '" />' 
						+ ' Yrke: ' + work
						+ '&nbsp;<input class="javaButton" type="image" src="gfx/16x16_redcross.png" value="fjern" onclick="javascript:removeTag(\'' + newDiv.id + '\');" />'
						;
						
	document.getElementById("myInhabitants").appendChild(newDiv);	
}

// Fjern beboer (inhabitant)
function removeTag(divid)
{
	var removeTag = document.getElementById(divid);
	removeTag.parentNode.removeChild(removeTag);
}

</SCRIPT>
<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
		
		<label>Beboere</label>
		<br /><br />
		
		<label>Alder:</label>
		<select id="tmpInhabAge" name="tmpInhabAge">
		<option value="-1">Velg alder</option>
		{for $i=0 to 120}
			<option value="{$i}">{$i}</option>
		{/for}
		</select>

		<label>Yrke:</label>
		
		<select name="tmpInhabWork" id="tmpInhabWork">
   			{html_options options=$inhabitantWorkTypesArr}
		</select>
		
		<input type="image" onClick="addInhabitant(); return false;" src="gfx/16x16_addplus.png" class="javaButton" />
		<!-- <input type="image" onClick="return false;" src="gfx/16x16_redcross.png" class="javaButton" /> -->
		
		<br />
		<div id="myInhabitants">
		
		</div>
		
		<!-- Beboere ferdig -->
		
		<!--  Hvitevarer / Brunevarer -->
		<br /><br />
		<label>Antall hvitevarer</label><br />
		<input type="text" name="antall_hvitevarer" value="{$smarty.session.es->_numHvit}" /><br />
		
		<label>Antall brunevarer</label><br />
		<input type="text" name="antall_brunevarer" value="{$smarty.session.es->_numBrun}" /><br /><br />
		
		<br />
		<input type="hidden" name="function" value="{$function}" />
		{Base::getTokenforFORM("setupSimulator")}
		<input type='submit' class="button" value='Beregn' />
		<a href="{$scriptURL}?function="><input type="button" class="button" value='Lagre familie' onClick="window.alert('Funksjonen er ikke implementert enda'); return false;" /></a>
		<a href="{$scriptURL}?function="><input type="button" class="button" value="Tilbake" onClick="window.alert('Funksjonen er ikke implementert enda'); return false;" /></a>
		<input type="submit" class="button" value='Vis resulat'  />

	</form>
	
	
{if isset($energySimulator) && intval($energySimulator->getEnergyUsage()) > 0}
	<h3>Resultat</h3>{$energySimulator->getEnergyUsage()} kWh i &aring;ret.	
{/if}
</div>

<SCRIPT type="text/javascript">

{if count($energySimulator->_inhabitantsWork) > 0 }
	{for $i=0 to (count($energySimulator->_inhabitantsWork) - 1)}
		addInhabitantHelper({$energySimulator->_inhabitantsAge[$i]}, {$energySimulator->_inhabitantsWork[$i]});
	{/for}
{/if}

</SCRIPT>
