<!-- kommentar -->

<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
		<label>Type byggning</label><br />
		<select name="byggType">
			<option value="1">Enebolig</option>
			<option value="2">Leilighet</option>
			<option value="3">Rekkehus</option>
		</select><br />
	
		<label>Bygge&aring;r</label><br />
	
		<select name="byggaar">
			<option value="1">F&oslash;r 1987</option>
			<option value="2">Mellom 1987 og 1997</option>
			<option value="3">Etter 1997</option>
		</select><br />
		
		<!-- Husets stï¿½rrelse -->
		<label>Boenhet: Brutto Areal</label><br />
		<input type="text" name="houseTotalArea" value="{$smarty.session.es->_houseTotalArea}" /><br />
	
		<label>Boenhet: P-Rom</label><br />
		<input type="text" name="housePrimaryArea" value="{$smarty.session.es->_housePrimaryArea}" /><br />
		
		<label>Byggning: veggareal ytre</label><br />
		<input type="text" name="ytterveggAreal" value="{$smarty.session.es->_ytterveggAreal}" /><br />
	
		<label>Byggning: takareal</label><br />
		<input type="text" name="yttertakAreal" value="{$smarty.session.es->_yttertakAreal}" /><br />
		
		<label>Byggning: areal vindu og dørflater</label><br />
		<input type="text" name="vinduDorAreal" value="{$smarty.session.es->_vinduDorAreal}" /><br />
	
		<label>Byggning: indre volum(luft)</label><br />
		<input type="text" name="luftVolum" value="{$smarty.session.es->_luftVolum}" /><br />
		
		<label>Ønsket innetemperatur</label><br />
		<input type="text" name="onsketTemp" value="{$smarty.session.es->_onsketTemp}" /><br />
	
		<input type="hidden" name="function" value="{$function}" />
		{Base::getTokenforFORM("startNewWizard")}

		
		
		<input type="submit" class="button" name="submit" value='Lagre Bolig' />
		<input type="submit" class="button" name="submit" value='Hent Bolig' />
		
		
		<input style="float: right;" type="submit" class="button" name="submit" value='Neste -> Oppvarming' />

	</form>
</div>
