<!-- kommentar -->

<div>
	<img class="logo" src="gfx/logo.png" />
	
	<!-- Formen -->
	<form method="post" action="{$scriptURL}">
		
	
	    <label>Klima</label><br />
		<select name="klima" value="{$smarty.session.es->_climateZone}">
			<option value="5,37">S&oslash;r-Norge, kyst</option>
			<option value="7,08">S&oslash;r-Norge, innland</option>
			<option value="8,79">S&oslash;r-Norge, h&oslash;yfjell</option>
			<option value="6,05">Midt-Norge, kyst</option>
			<option value="9,02">Midt-Norge, innland</option>
			<option value="8,11">Nord-Norge, kyst</option>
			<option value="10,82">Finnmark og innland Troms</option>
		</select><br /><br />
	
		<input type="hidden" name="function" value="{$function}" />
		{Base::getTokenforFORM("startNewWizard")}
		<a href="{$scriptURL}?function="><input type="button" class="button" value="Tilbake" onClick="window.alert('Funksjonen er ikke implementert enda'); return false;" /></a>
		<input style="float: right;" type="submit" class="button" value='Vis resultat'  />

	</form>
</div>
